.biobox{
    width: 400px;
    height: 80vh;
    background-color: rgb(232, 230, 254);
    padding-top: 100px;
    margin: auto;
}

.profilepic{
    display: flex;
    background-color: white;
    max-width: 400px;
    margin: auto;
}

.textbox{
    color: black;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    display: flex;
    text-align: center; 
    align-items: center;
}

.about-seller{
    width: 600px;
    margin: auto;
    height: 100%;
}

.about-page{
    background-color: rgb(232, 230, 254);
}